%% -*- erlang -*-
{minimum_otp_vsn, "26.0"}.

{deps, []}.

{project_plugins, [rebar3_lint, erlfmt]}.

{escript_name, essh_agent}.
{escript_emu_args, "%%! +sbtu +A0 +Bi\n"}.
{escript_incl_apps, [essh_agent]}.

{alias, [{check, [fmt, lint, dialyzer, xref, ct, cover]}]}.
{profiles, [
    {test, [
        {erl_opts, [debug_info, warn_missing_specs]},
        {cover_enabled, true},
        {cover_opts, [verbose]},
        {dialyzer, [{plt_extra_apps, [public_key, ssh, common_test, proper]}]},
        {deps, [proper]}
    ]}
]}.

{dialyzer, [{plt_extra_apps, [public_key, ssh]}]}.
{xref_checks, [undefined_function_calls]}.
{erlfmt, [check]}.

{elvis, [
    #{
        dirs => ["src/**", "test/**"],
        filter => "*.erl",
        ruleset => erl_files,
        ignore => [prop_mpint]
    },
    #{
        dirs => ["."],
        filter => "rebar.config",
        ruleset => rebar_config
    }
]}.
