%% -*- erlang -*-
{minimum_otp_vsn, "24.3"}.

{deps, []}.

{project_plugins, [
    rebar3_lint,
    erlfmt,
    {eqwalizer_rebar3,
        {git_subdir, "https://github.com/whatsapp/eqwalizer.git", {branch, "main"},
            "eqwalizer_rebar3"}}
]}.

{escript_name, essh_agent}.
{escript_emu_args, "%%! +sbtu +A0 +Bi\n"}.
{escript_incl_apps, [essh_agent]}.

{alias, [{check, [fmt, lint, dialyzer, xref, ct, cover]}]}.
{profiles, [
    {test, [
        {erl_opts, [debug_info, warn_missing_specs]},
        {cover_enabled, true},
        {cover_opts, [verbose]},
        {xref_checks, [undefined_function_calls]},
        {dialyzer, [{warnings, [no_unknown, unmatched_returns, error_handling]}]},
        {erlfmt, [check]},

        {deps, [
            {proper, {git, "https://github.com/proper-testing/proper.git", {branch, "master"}}},
            {eqwalizer_support,
                {git_subdir, "https://github.com/whatsapp/eqwalizer.git", {branch, "main"},
                    "eqwalizer_support"}}
        ]}
    ]}
]}.

{elvis, [
    #{
        dirs => ["src/**", "test/**"],
        filter => "*.erl",
        ruleset => erl_files,
        ignore => [prop_mpint]
    },
    #{
        dirs => ["."],
        filter => "rebar.config",
        ruleset => rebar_config
    }
]}.
