%% -*- erlang -*-
{minimum_otp_vsn, "24.3"}.

{deps, []}.

{project_plugins, [rebar3_lint, erlfmt]}.

{escript_name, essh_agent}.
{escript_emu_args, "%%! +sbtu +A0 +Bi\n"}.
{escript_incl_apps, [essh_agent]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info, warn_missing_specs]},
        {cover_enabled, true},
        {cover_opts, [verbose]},
        {xref_checks, [undefined_function_calls]},
        {dialyzer, [{warnings, [unmatched_returns, error_handling]}]},
        {erlfmt, [check]},
        {deps, [proper]}
    ]}
]}.

{elvis, [
    #{
        dirs => ["src/**", "test/**"],
        filter => "*.erl",
        ruleset => erl_files,
        ignore => [prop_mpint]
    },
    #{
        dirs => ["."],
        filter => "rebar.config",
        ruleset => rebar_config
    }
]}.
